body {
    font-family: sans-serif;
    padding: 20px;
  }
  
  .main-container {
    display: flex; /* Make it a flex container */
  }
  
  video {
    width: 400px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin-right: 20px; /* Add space between video and results */
  }
  
  #scan-results {
    flex: 1; /* Allow scan-results to take remaining space */
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-item button {
    margin-left: 10px;
  }
