body {
    font-family: sans-serif;
    padding: 20px;
  }
  
  video {
    width: 600px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    
    margin-bottom: 0px; /* Add space below video */
  }
  

  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-item button {
    margin-left: 10px;
  }
